@font-face {
  font-family: LeagueGothic-Italic; src: url('LeagueGothic-Italic.otf');
}

.firstContainer {
  padding: 70px;
}

.quote {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 30px;
  color: #B0B0B0;
}

span:hover {
    -webkit-transition: 1.2s;
       -moz-transition: 1.2s;
        -ms-transition: 1.2s;
         -o-transition: 1.2s;
            transition: 1.2s;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

#illness:hover {
  opacity: 0;
}

#subHead {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 60px;
  padding-top: 100px;
  color: black;
  float: right;
}

#subHead:hover {
    opacity: 0;
    -webkit-transition: 1.2s;
       -moz-transition: 1.2s;
        -ms-transition: 1.2s;
         -o-transition: 1.2s;
            transition: 1.2s;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.secondContainer {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.imgContainer {
  margin-top: 400px;
  position: static;
}

.textContainer {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 1.5vw;
  color: #A6A6A6;
  position: relative;
  margin-top: -4400px;
  margin-left: 50%;
  text-align: left;
  line-height: 2.0;
  width: 40vw;
}

#firstInfo:hover, #secondInfo:hover, #thirdInfo:hover, #fourthInfo:hover, #fifthInfo:hover{
    opacity: .25;
    -webkit-transition: 1s;
       -moz-transition: 1s;
        -ms-transition: 1s;
         -o-transition: 1s;
            transition: 1s;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

#firstInfo, #secondInfo, #thirdInfo, #fourthInfo, #fifthInfo {
  margin-bottom: 500px;
  position: relative;
}

img {
  position: relative;
  margin-bottom: 200px;
  width: 50vw;
}

img:hover {
    box-shadow: 0 0 35px 25px pink;
    opacity: .25;
    -webkit-transition: 1s;
       -moz-transition: 1s;
        -ms-transition: 1s;
         -o-transition: 1s;
            transition: 1s;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-filter: blur(5px);
    filter: blur(5px);
}